#walrus-showing {
  display: none;
}


.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable.hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.charcol-background {
  background-color: #36454f;
}

.white-text {
  color: white;
}

.boxed {
  border: 2px solid gray;
}
